.loader {
  position: fixed;
  display: block;
  width:100%;
  height:100%;



  z-index: 10;

  background: rgba(0,0,0,1);

  &--ring{
    position: relative;
    display: block;
    transform: translate(-50%, -50%);
    top:50vh;
    left:50vw;
    max-width:140px;
  }

  &.show {
    display: block;
    opacity:1;

  }
  &.hide {
    display:block;
    transition: opacity 0.5s ease-out 0.5s;
    opacity: 0;
  }
  &.hidden {
    display: none;
    opacity: 0;
  }
}