.movie-list {
 overflow: auto;
  margin-bottom: 2em;

  &--list {
    list-style: none;
    padding: 0;

    &--hedline {
      margin: 20px 0 20px;
    }

    &--item {
      position: relative;
      display: block;
      float: left;
      width: calc(25% - 10px);
      padding-bottom: 36.7%;
      background-size: cover;
      margin: 5px;

      @media (max-width: 500px) {
        width: calc(33% - 10px);
        font-size: 12px;
        p {
          margin: 0.2em auto;
        }
      }

      &--info {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          opacity: 1;
        }
        
        &--holder {
          width:100%;
        }
      }
    }
  }

}