.movie-page {
  //position: relative;
  //height:100vh;
  //background-size: cover;
  //background-position: 50% 0;
  //background-attachment: fixed;

  //min-height: 100vh;


  &--year {
    border: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    padding:3px 5px;
    margin:6px 6px 6px 6px;
  }

  &--actors {
    overflow: hidden;
  }
  &--actors--actor {
    display: inline-block;
    float: left;
    padding:3px 5px;
    margin:6px 6px 0px 0;
    border: 1px solid rgba(255,255,255,0.2);

    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.2);
      color:white;
    }
  }
}