.page {


  &--container{
    position: relative;
    display: block;
    padding: 50px 20px;
    background-size: cover;
    background-position: 50% 0;
    &:after{
      content: '';
      position: absolute;
      bottom:0;
      width:100%;
      height:80px;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      left: 0;
      pointer-events: none;
    }

    @media (min-width: 601px){
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: flex-end;
      //top:20px;
      //transform:translateY(-50%);
      padding:10% 40px;

    }
  }

  &--background{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.6;
  }

  &--info {
    position: relative;
    width:100%;
    max-width:600px;

    @media (min-width: 601px){
      margin-left:20px;
    }
  }

  &--poster {
    position: relative;
    width:100%;
    max-width: 300px;
    box-shadow: 3px 0 20px rgba(0,0,0,0.5);
    text-align: center;

    @media (max-width: 600px){
      margin:0 auto 1em auto;

    }

    img {
      width: 100%;
      height:auto;
      display: block;
      white-space: nowrap;
    }
  }

}