.query-page {


  height:100%;
  h1 {
    text-align: center;
  }

  &--hero {
    position: relative;
    height:40vw;
    min-height:40vh;
    width:100%;
    background-size: cover;
    background-position: 50% 0%;
    transition: height 0.3s ease-out 0.3s, min-height ease-out 0.3s;

    &:after{
      content: '';
      position: absolute;
      bottom:0;
      width:100%;
      height:80px;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      left: 0;
      pointer-events: none;
    }

    &--logo{
      position: relative;
      top:50%;
      transform: translateY(-50%);
      display: block;
      margin:auto;
      width:40%;
      max-width: 260px;
    }

    &--pull-up{
      height:20px;
      min-height:0;
    }
  }
}