
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  height:100%;
}
body {
  margin:0;
  background: black;
  background-attachment: fixed;
  height:100%;
  color:white;
  font-family: 'helveticaneue-light';
  text-rendering: geometricPrecision;
}
 ul {
   margin:0;
   padding:0;
   list-style: none;
 }
 li {

 }
.container {
  position: relative;
  width:100%;
  max-width: 850px;
  padding:0 20px;
  margin: auto;
  background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  line-height:1em;
  font-weight: normal;
}
p {
  line-height:1.2em;
}
h1 {
  font-size: 65px;
}
h2 {
  font-size: 32px;
}