.search-field {
  position: relative;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  transition: top 0.3s ease-out;
  border: 1px solid white;
  box-shadow: 0px 2px 40px rgba(255, 255, 255, 0.6);
  margin: auto;
  display: block;
  margin-bottom:1em;
}